// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  font-weight: bold;
} 
.not_start {
  color: red;
}
.progress {
  color: orange;
}
.complete {
  color: green;
}